* {
  background-color: #0d0e11; /* Dark Blue */
  font: 14px "Lucida Console", sans-serif;
  color: #84cfe6;
  box-sizing: border-box;
}
/*Page Grid Structure*/
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
}
/* Create two unequal columns that floats next to each other */
.leftcolumn {   
  float: left;
  width: 50%;
}
.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}
.fakeimg {
  background-color: #191b20;
  width: 100%;
  padding: 20px;
}
.card {
   padding: 20px;
   margin-top: 20px;
   box-shadow: 0 10px 6px -6px #777;
   border: 1px solid #84cfe6;
   border-left: 3px solid #558b9b;
   border-radius: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #191b20;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

table{
  border: 1px solid #84cfe6;
}
button{
  border: 1px solid #84cfe6;
  padding: 5px;
  border-radius: 5px;
}
button:hover{
  border: 1px solid #84cfe6;
  background-color: #84cfe6;
  color: #0d0e11;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}
input{
  padding: 2px;
  border-bottom: 1px dashed #84cfe6;
  border-left: 1px solid #84cfe6;
  border-top: none;
  border-right: none;
}
.grey{
  background-color: Gainsboro;
}
.navy{
  background-color: SteelBlue;
}
.off#0d0e11{
  background-color: Cornsilk;
}
.content {
    max-width: 500px;
    margin: auto;
}
/* Custom Scroll Bar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #191b20; 
}
 ::-webkit-scrollbar-thumb {
  background: #84cfe6; 
}
::-webkit-scrollbar-thumb:hover {
  background: #558b9b; 
}

/* Grid items */
.timeLineContainer {
  display: grid;
  align-items: center;
  overflow: scroll;
  width: 80%;
  height: 80px;
}
.lineItem {
  
}

/* Card Listview */
.card-holder {
  display: grid;
  align-content: center;
  row-gap: 15px;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  min-width: 250px;
  min-height: 160px;
  max-height: 600px;
  background-color: #191b20;
}
.timercard {
  display: grid;
  grid-column: 1;
  background-color: #0d0e11;
  border: solid 1px;
  box-shadow: 0 10px 6px -6px #777;
  width: 100%;
  height: 150px;
  grid-gap: 10px;
  padding: 10px;
}

/* Shapes */
.square {
  height: 50px;
  width: 50px;
  border: solid 1px lightgreen;
  background: rgba(0, 0, 0, 0)
}
.circle {
  height: 50px;
  width: 50px;
  border: solid 1px lightgreen;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0)
}
.triangle {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
  border-bottom: 50px solid lightgreen;
  background: rgba(0, 0, 0, 0)
}




/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* #0d0e11 text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
/*snackbar code originated from w3scools.com*/
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: freefadein 0.5s, freefadeout 0.5s 2.5s;
  animation: freefadein 0.5s, freefadeout 0.5s 2.5s;
}

.apple {
  width: 120px;
  height: auto;
  position: relative;
  animation-name: example;
  animation-duration: .08s;
  animation-direction: reverse;
}
 
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes freefadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes freefadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
/* Standard syntax */
@keyframes example {
0%   {width:120px; height:auto;}
50%  {width:115px; height:auto;}
100% {width:120px; height:auto;}
}
.trns {
  width: 50px;
  height: 25px;
  transition: width 2s;
}
.trns:hover {
  width: 450px;
  transform: translate(10px,0px);
}